<section
    aria-label="Sección de proyectos"
    class="bg-patron-desing dark:bg-patron-desing-dark bg-patron-m lg:bg-patron-m-lg h-[calc(calc(100vi/6)*11)] lg:h-[calc(calc(70vi/9)*5)] mb-8 relative overflow-hidden"
>
    <article
        aria-label="Grilla de trabajos"
        class="w-full h-full grid grid-cols-6 lg:grid-cols-9 grid-rows-11 lg:grid-rows-5"
    >
        <header
            class="bg-white dark:bg-black m-[1px] col-span-4 col-start-2 lg:col-start-6 flex justify-center items-center"
        >
            <p class="text-xl lg:text-3xl font-extrabold">
                Proyectos realizados
            </p>
        </header>
    </article>
</section>

<!-- <script>
    const container = document.getElementById("box-container");
    const box = document.getElementById("box");

    if (container && box) {
        container.addEventListener("mousemove", (event: MouseEvent) => {
            box.style.setProperty("width", "100px");
            box.style.top = `${Math.floor(event.offsetY)}px`;
            box.style.left = `${Math.floor(event.offsetX)}px`;
        });
    }
</script> -->
