---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link
			rel="icon"
			type="image/svg+xml"
			href="/icon.png"
			style={{ borderRadius: "50%" }}
		/>
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	html {
		font-family: system-ui, sans-serif;
	}

	html,
	body,
	main {
		scroll-behavior: smooth;
	}

	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}

	/* 
  Cambio de estilo del scrollbar en CSS 
*/

	.custombar {
		scrollbar-width: thin;
		scrollbar-color: #161a1d #f1f1f1;
	}

	.custombar::-webkit-scrollbar-track {
		background-color: #f1f1f1;
	}

	.custombar::-webkit-scrollbar-thumb {
		background-color: #161a1d;
	}

	@media screen and (min-width: 768px) {
		.custombar::-webkit-scrollbar {
			width: 12px;
		}
	}
</style>
