---
import BaseHead from "../components/global/BaseHead.astro";
---

<html lang="es">
    <head>
        <BaseHead />
        <title>Rojas.dev</title>
    </head><body>
        <slot />
    </body>
</html>
