<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/astronaut.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <meta
            name="description"
            content="Portafolio para desarrollador Full-Stack"
        />
        <title>JhersonRojas.dev</title>
    </head>
    <body>
        <slot />
    </body>
</html>
