---
interface Props {
    title: string;
}

const { title } = Astro.props;
---

<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta
            name="description"
            content="Portafolio de desarrollador Full-Stack"
        />

        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

        <title>{title}</title>

        <script>
            const themeClause =
                localStorage.theme === "dark" ||
                (!("theme" in localStorage) &&
                    window.matchMedia("(prefers-color-scheme: dark)").matches);
            if (themeClause) document.documentElement.classList.add("dark");
            else document.documentElement.classList.remove("dark");
        </script>
    </head>
    <body>
        <slot />
    </body>
</html>

<style is:global>
    html,
    body,
    main {
        scroll-behavior: smooth;
    }
</style>
