---
// Funcionalidades
import { cn } from "../libs/utils";

// Layouts
import Layout from "../layouts/Layout.astro";

// Componentes
import Cube from "../components/Cube.astro";
import MenuBar from "../components/MenuBar.astro";
---

<Layout title="Rojas Dev">
	<!-- Menú de navegación -->
	<MenuBar />

	<!-- contenido principal del portafolio -->
	<main
		class="custombar bg-black w-screen h-screen overflow-x-hidden overflow-y-auto"
	>
		<!-- Presentanción -->
		<section id="home" class="bg-custom-to-up w-screen h-screen relative">
			<article
				class={cn(
					"text-white absolute",
					"top-[55%] sm:top-[70%] left-[15%] sm:left-[25%]",
					"lg:top-[55%] lg:left-[10%]",
				)}
			>
				<h2 class="text-[3.5rem] sm:text-[4rem] lg:text-[5rem] font-extrabold">
					Rojas Dev
				</h2>
				<p class="text-base">Desarrollador de software Full-Stack</p>
			</article>
			<figure
				class={cn(
					"text-white absolute",
					"top-[15%] sm:top-[15%] left-[50%] translate-x-[-50%] sm:left-[40%]",
					"lg:top-[15%] xl:top-[20%] lg:left-[50%] xl:left-[65%]",
				)}
			>
				<!-- Cubo movil en la presentación  -->
				<Cube />
			</figure>
		</section>

		<!-- sobre mi -->
		<section
			id="about"
			class="bg-custom-black w-screen h-screen md:grid md:grid-cols-5"
		>
			<figure class="w-full col-span-2 grid md:block">
				<img
					src="/icon.png"
					alt="imagen-logo"
					class="w-[50%] h-auto mx-auto mt-[25%] rounded-full"
				/>
				<p class="text-white text-center text-xl font-semibold w-full my-[5%]">
					Jherson A. Rojas
				</p>
			</figure>
			<article
				class="text-white text-center w-full h-min m-auto px-8 md:pr-[20%] col-span-3 space-y-4 lg:space-y-6"
			>
				<p>
					"¡Hola! Soy un apasionado programador Junior Fullstack con experiencia
					en el ecosistema de JavaScript y TypeScript. Mi enfoque abarca tanto
					el desarrollo de aplicaciones de servidor como el diseño de
					experiencias de usuario amigables en el front-end.
				</p>
				<p>
					He trabajado con diversas librerías tanto en el back-end como en el
					front-end, lo que me ha brindado una amplia perspectiva en la creación
					de soluciones tecnológicas eficaces y de alto rendimiento. Tengo un
					conocimiento sólido en el funcionamiento de frameworks modernos como
					React 17+, Next.js 13+, Angular 14+ e Ionic 6, lo que me permite crear
					aplicaciones web y móviles interactivas y atractivas.
				</p>
				<p>
					Mi entusiasmo por la programación y mi capacidad para adaptarme
					rápidamente a nuevas tecnologías me han permitido contribuir de manera
					efectiva en equipos de desarrollo dinámicos y orientados a resultados.
				</p>
				<p>
					Estoy ansioso por aplicar mi experiencia y conocimiento para abordar
					desafíos emocionantes y contribuir al éxito de proyectos innovadores.
					¡Espero tener la oportunidad de colaborar contigo!"
				</p>
			</article>
		</section>

		<!-- sección de habilidades -->
		<!-- <section id="skills" class="w-screen h-screen grid"></section> -->

		<section id="certifies" class="bg-custom-to-down w-screen h-screen grid">
			<article>
				<h2>Certificados en conocimientos</h2>
			</article>
		</section>
	</main>
</Layout>
