---
import Navigation from "../components/global/Navigation.astro";
import Adds from "../components/sections/Adds.astro";
import Home from "../components/sections/Home.astro";
import Jobs from "../components/sections/Jobs.astro";
import Skills from "../components/sections/Skills.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Rojas.dev">
    <main
        aria-label="Contenedor principal de la página"
        class="bg-white dark:bg-black text-black dark:text-white min-w-screen min-h-screen"
    >
        <header class="lg:max-w-[70vw] lg:w-[70vw] mx-auto overflow-y-auto">
            <Navigation />
        </header>
        <article class="lg:max-w-[70vw] lg:w-[70vw] mx-auto overflow-y-auto">
            <Home />
            <Adds />
            <Jobs />
            <Skills />
        </article>
    </main>
</Layout>
