.planet-container {
  z-index: 1;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0 0.1rem 20rem 0 rgba(153, 0, 0, 0.9) !important;
}

.night {
  z-index: 2;
  background-image: url("/world/world_night.jpg");
  position: absolute;
  background-size: 200%;
  animation-delay: 1.2s;
  animation: rotate-night 90s linear infinite;
}

.day {
  z-index: 3;
  background-image: url("/world/world_day.jpg");
  border-radius: 50%;
  position: absolute;
  background-size: 200%;
  margin-left: 25%;
  border-left: solid 1px black;
  box-shadow: 5px 0 20px 10px #040615 inset;
  animation: rotate-day 90s linear infinite;
}

.clouds {
  z-index: 4;
  background-image: url("/world/world_clouds.jpg");
  position: absolute;
  opacity: 0.35;
  background-size: 200%;
  border-radius: 50%;
  box-shadow: 5px 0 20px 10px #040615 inset, -9px 0px 20px 10px #020d21 inset;
  animation: rotate-day 60s linear infinite, spin-clouds 180s ease infinite;
}

.inner-shadow {
  z-index: 5;
  background: transparent;
  position: absolute;
  border-radius: 50%;
  box-shadow: -15px 0 20px 1px #07152f inset, 5px 0 10px 1px #040615 inset;
}

@keyframes rotate-day {
  0% {
    background-position: 120% 0;
  }

  100% {
    background-position: -80% 0;
  }
}

@keyframes rotate-night {
  0% {
    background-position: calc(120% + 120px) 0;
  }

  100% {
    background-position: calc(-80% + 120px) 0;
  }
}

@keyframes spin-clouds {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(20deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
