@media screen and (min-width: 700px) {

  .notView {
    opacity: 0;
  }

  .toolbar {
    z-index: 10;
    background-color: #040817;
    color: var(--text-color);
    position: fixed;
    top: 3vh;
    right: 5vw;
    width: 35vw;
    height: 6vh;
    border-radius: 15px;
    box-shadow: 0 0 15px gray;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    transition: .3s;

    div {
      display: flex;

      &.details-link,
      &.contact-link {
        border-left: 1px solid gray;
      }

      a {
        margin: auto;
        font-family: var(--font-extra);
        color: var(--text-color);
        text-decoration: none;
        font-size: 1rem;
        margin: auto;
      }
    }

  }

  .home {
    background-color: var(--bg-space);
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
    height: 100vh;
    width: 100%;

    .astronaut {
      position: relative;

      img {
        z-index: 1;
        position: absolute;
        bottom: 10%;
        left: 25%;
        width: 35%;
        animation: moveAstro 15s infinite;
      }

      @keyframes moveAstro {
        0% {
          transform: translate(0%, 0%);
        }

        25% {
          transform: translate(-5%, -4%);
        }

        50% {
          transform: translate(1%, 2%);
        }

        75% {
          transform: translate(6%, -7%);
        }

        100% {
          transform: translate(0%, 0%);
        }
      }
    }

    .content {
      color: var(--text-color);
      position: relative;

      .presentatiton {
        position: absolute;
        bottom: 10%;
        right: 15%;
        transition: .3s;

        .nombre {
          font-family: var(--font-extra);
          font-size: 3rem;
          margin: 0;
        }

        .ambito {
          font-family: var(--font-extra);
          font-size: 1.5rem;
          margin: 0;
        }
      }
    }
  }

  .details {
    background-color: var(--bg-space);
    display: grid;
    grid-template-columns: 0.8fr 1.2fr;
    height: 100vh;
    width: 100%;

    .skills {
      grid-column: 2/3;
      color: white;

      .info {
        height: 50vh;
        display: grid;

        p {
          font-family: var(--font-extra);
          font-size: 1.5rem;
          margin: auto 5rem 4rem 5rem;
        }
      }

      .subSkills {
        height: 50vh;

      }
    }
  }

  .contact {
    background-color: var(--bg-space);
    display: grid;
    // grid-template-columns: 0.7fr 1.3fr;
    height: 100vh;
    width: 100%;
  }

}