---
import ToggleTheme from "../components/global/ToggleTheme.astro"
import { IconGithub } from "../components/others/Icons"
import Layout from "../layouts/Layout.astro"
---

<Layout title="Jherson Rojas dev">
  <main
    aria-label="Main container for the portfolio"
    class="relative h-screen overflow-x-hidden bg-white dark:bg-black"
  >
    <header
      class="sticky top-0 z-10 flex h-[15vh] min-h-[100px] items-center justify-end px-6"
    >
      <nav class="flex items-center gap-6 text-black *:transition-all dark:text-white">
        <li class="rounded-md px-5 py-3 hover:underline dark:hover:bg-slate-900">
          Welcome
        </li>
        <li class="rounded-md px-5 py-3 hover:underline dark:hover:bg-slate-900">
          Projects
        </li>
        <li class="rounded-md px-5 py-3 hover:underline dark:hover:bg-slate-900">
          Skills
        </li>
        <li class="rounded-md px-5 py-3 hover:underline dark:hover:bg-slate-900">
          Contact
        </li>
        <li
          class="flex items-center justify-center rounded-md p-3 hover:underline dark:hover:bg-slate-900"
        >
          <ToggleTheme />
        </li>
        <a
          href="https://github.com/JhersonRojas"
          class="flex items-center justify-center rounded-md p-3 hover:underline dark:hover:bg-slate-900"
        >
          <IconGithub name="Icon for github" className="size-6" />
        </a>
      </nav>
    </header>
    <article
      aria-label="welcome section"
      class="relative h-[85vh] min-h-[600px] w-full text-black dark:text-white"
    >
      <div class="bg-pattern absolute top-0 h-full w-full"></div>
      <section class="absolute left-0 top-1/4 z-10 grid w-full min-w-fit">
        <h1 class="mx-auto mb-4 font-poppins text-5xl tracking-tighter">
          Hi, I'm Jherson Rojas
        </h1>
        <p class="mx-auto mb-4 text-gray-500 dark:text-gray-400">
          Full-Stack Developer passionate about creating elegant and efficient solutions.
        </p>
        <div class="mx-auto flex h-min gap-4">
          <a
            href="#contact"
            class="rounded-md border-min border-slate-800 bg-slate-900 px-6 py-2 text-white"
          >
            Contact me
          </a>
          <a
            href="#projects"
            class="rounded-md border-min border-slate-200 bg-white px-6 py-2 text-black"
          >
            More ...
          </a>
        </div>
      </section>
    </article>
  </main>
</Layout>
