<hr class="w-full border-opaque" />
<footer
  aria-label="Footer for extra info"
  class="mx-auto h-min w-full px-4 text-white sm:w-3/4 sm:px-0"
>
  <section class="grid h-min w-full flex-1 gap-4 lg:grid-cols-2">
    <article class="flex h-full flex-col justify-between gap-2 pt-8">
      <p class="min-w-fit font-poppins text-2xl">Jherson Rojas Dev</p>
      <address class="font-poppins text-xs">
        - "Creating code with Care, Patience and Happiness"
      </address>
    </article>
    <article class="flex pt-8 sm:justify-end">
      <li>
        <header class="mb-4 px-4 font-poppins text-xl">Sections</header>
        <menu class="text-sm *:transition-all">
          <li class="rounded-md px-4 py-2 lg:hover:bg-opaque">Welcome</li>
          <li class="rounded-md px-4 py-2 lg:hover:bg-opaque">Projects</li>
          <li class="rounded-md px-4 py-2 lg:hover:bg-opaque">Skills</li>
          <li class="rounded-md px-4 py-2 lg:hover:bg-opaque">Contact</li>
        </menu>
      </li>
    </article>
  </section>
  <section class="h-min">
    <p class="py-6 text-xs text-gray-300">© 2024 Jherson Rojas, Developer.</p>
  </section>
</footer>
