---
import { IconLogo } from "../../others/Icons"
---

<hr class="border-opaque w-full" />
<footer
  aria-label="Footer for extra info"
  class="relative mx-auto h-min w-full px-4 pt-8 text-white sm:w-3/4 sm:px-0"
>
  <IconLogo className="absolute bottom-0 right-0 h-3/4 fill-white/25" />
  <section class="grid h-[300px] w-full gap-4 lg:grid-cols-4">
    <figure class="flex h-min items-center gap-2">
      <p class="min-w-fit font-poppins text-2xl">Jherson Rojas Dev</p>
    </figure>
  </section>
  <section class="py-6">
    <p class="text-xs text-gray-300">© 2024 Jherson Rojas, Developer.</p>
  </section>
</footer>
