---
interface Props {
  title: string
}

const { title } = Astro.props
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="Portfolio of Jherson Rojas developer Full-Stack" />
    <meta
      name="keywords"
      content="web,api,frontend,backend,fullstack,javascript,typescript,csharp,bash,developer"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  @font-face {
    font-family: "Poppins";
    src: url(/fonts/Poppins.ttf);
    font-weight: 500;
  }

  * {
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
  }

  section[id] {
    scroll-margin-top: 15vh;
  }

  .bg-pattern {
    background-size: 150px 150px;
    background-image: url(/pattern.png);
    -webkit-mask-image: linear-gradient(
      to bottom,
      transparent,
      10%,
      white,
      90%,
      transparent
    );
    mask-image: linear-gradient(to bottom, transparent, 10%, white, 90%, transparent);
  }

  .mask-hidden {
    mask-image: linear-gradient(black 65%, transparent);
  }

  .custombar {
    scrollbar-width: thin;
    scrollbar-color: rgb(82, 82, 82) rgb(0, 0, 0, 0.9);
  }

  .custombar::-webkit-scrollbar {
    width: 15px;
  }

  .custombar::-webkit-scrollbar-track {
    background-color: rgb(0, 0, 0, 0.9);
  }

  .custombar::-webkit-scrollbar-thumb {
    background-color: rgb(82, 82, 82);
  }

  .hidden-bar::-webkit-scrollbar {
    scrollbar-width: none;
    display: none;
  }
</style>
