---
interface Props {
  title: string
}

const { title } = Astro.props
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="Portafolio de desarrollador Full-Stack" />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>

    <script>
      const themeClause =
        localStorage.theme === "dark" ||
        (!("theme" in localStorage) &&
          window.matchMedia("(prefers-color-scheme: dark)").matches)
      if (themeClause) document.documentElement.classList.add("dark")
      else document.documentElement.classList.remove("dark")
    </script>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  @font-face {
    font-family: "Poppins";
    src: url(/fonts/Poppins.ttf);
    font-weight: 500;
  }

  * {
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
  }

  .bg-pattern {
    background-size: 150px 150px;
    background-image: url(/pattern.png);
    -webkit-mask-image: linear-gradient(
      to bottom,
      transparent,
      10%,
      white,
      90%,
      transparent
    );
    mask-image: linear-gradient(to bottom, transparent, 10%, white, 90%, transparent);
  }
</style>
