---
import { IconLogo } from "../others/Icons"
---

<nav class="flex h-20 w-full items-center justify-between 2xl:h-24">
  <a href="/" class="mx-auto flex items-end transition-all hover:opacity-80 lg:mx-0">
    <p class="flex items-center">
      <b class="text-4xl font-extrabold">ROJ</b>
      <IconLogo className="h-8 w-8 fill-black dark:fill-white" />
      <b class="text-4xl font-extrabold">S</b>
    </p>
    <small class="text-xl">.dev</small>
  </a>
  <ul class="hidden w-1/2 justify-between font-semibold lg:flex">
    <li class="transition-all hover:opacity-80">
      <a href="/" title="Inicio del portafolio">Inicio</a>
    </li>
    <li class="transition-all hover:opacity-80">
      <a href="#jobs" title="Experiencias y trabajos realizados"> Proyectos </a>
    </li>
    <li class="transition-all hover:opacity-80">
      <a href="#skills" title="Conocimientos y tecnologias"> Habilidades </a>
    </li>
    <li class="transition-all hover:opacity-80">
      <a href="#contact" title="Donde encontrarme y contacto"> Contacto </a>
    </li>
  </ul>
</nav>
