---
import { IconLuna, IconSol } from "../others/Icons";
---

<button
    id="toggle-theme"
    aria-label="Cambio de tema"
    class="text-black dark:text-white p-4"
>
    <IconLuna className="fill-white w-6 h-6 hidden dark:block" />
    <IconSol className="fill-black w-6 h-6 dark:hidden" />
</button>

<script>
    const button = document.getElementById("toggle-theme");

    if (button) {
        button.addEventListener("click", () => {
            if (localStorage.theme === "light") {
                document.documentElement.classList.add("dark");
                localStorage.theme = "dark";
            } else {
                document.documentElement.classList.remove("dark");
                localStorage.theme = "light";
            }
        });
    }
</script>
