---
import { IconMoon, IconSun } from "../others/Icons"

interface Props {
  className?: string
}

const { className } = Astro.props
---

<button id="toggle-theme" aria-label="Change theme button" class:list={[className]}>
  <IconMoon className="hidden size-6 fill-white dark:block" />
  <IconSun className="size-6 fill-black dark:hidden" />
</button>

<!-- <script>
  const themeClause =
    localStorage.theme === "dark" ||
    (!("theme" in localStorage) &&
      window.matchMedia("(prefers-color-scheme: dark)").matches)
  if (themeClause) document.documentElement.classList.add("dark")
  else document.documentElement.classList.remove("dark")
</script> -->

<script>
  const button = document.getElementById("toggle-theme")

  if (button) {
    button.addEventListener("click", () => {
      if (localStorage.theme === "light") {
        document.documentElement.classList.add("dark")
        localStorage.theme = "dark"
      } else {
        document.documentElement.classList.remove("dark")
        localStorage.theme = "light"
      }
    })
  }
</script>
